TI__DJANGO__SECRET_KEY=django-insecure-change-me-in-production
TI__DJANGO__DEBUG=True
TI__DJANGO__ALLOWED_HOSTS=localhost
TI__DJANGO__DOMAIN=example.com
TI__DJANGO__HEALTHCHECK_PATH=health/
TI__DJANGO__ADMIN_PATH=admin/

TI__POSTGRES__HOST=localhost
TI__POSTGRES__PORT=5432
TI__POSTGRES__DB=taski
TI__POSTGRES__USER=django
TI__POSTGRES__PASSWORD=taski_password_change_me
